<div class="container marketing">
	<!-- Three columns of text below the carousel -->
	<div class="row" ng-repeat="food in foodLists" ng-if="$index % 3 == 0">
		<div class="col-lg-4" ng-if="foodLists[$index].id != undefined">
			<img class="img-circle" ng-src="{{ foodPrefix }}{{ foodLists[$index].img }}" alt="{{ foodLists[$index].keyword }}" style="width: 140px; height: 140px;">
			<h2>{{ foodLists[$index].name }}</h2>
			<p>{{ foodLists[$index].description }}</p>
			<p><a class="btn btn-default" href="#/navbar/foodDatail/{{foodLists[$index].id}}" role="button">查看详情 &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4" ng-if="foodLists[$index+1].id != undefined">
			<img class="img-circle" ng-src="{{ foodPrefix }}{{ foodLists[$index+1].img }}" alt="{{ foodLists[$index+1].keyword }}" style="width: 140px; height: 140px;">
			<h2>{{ foodLists[$index+1].name }}</h2>
			<p>{{ foodLists[$index+1].description }}</p>
			<p><a class="btn btn-default" href="#/navbar/foodDatail/{{foodLists[$index+1].id}}" role="button">查看详情 &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4" ng-if="foodLists[$index+2].id != undefined">
			<img class="img-circle" ng-src="{{ foodPrefix }}{{ foodLists[$index+2].img }}" alt="{{ foodLists[$index+2].keyword }}" style="width: 140px; height: 140px;">
			<h2>{{ foodLists[$index+2].name }}</h2>
			<p>{{ foodLists[$index+2].description }}</p>
			<p><a class="btn btn-default" href="#/navbar/foodDatail/{{foodLists[$index+2].id}}" role="button">查看详情 &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</div>

<nav style="text-align:center;">
  <ul class="pagination pagination-lg">
    <li ng-repeat="p in foodListsPageCount"><a href="#/navbar/foodList/{{foodCateID}}/{{p}}">{{p}}</a></li>
  </ul>
</nav>

<ui-view></ui-view>
<!-- 
<div class="container marketing">
	<div class="row">
		<div class="col-lg-4" ng-repeat="food in foodLists">
			<img class="img-circle" ng-src="{{ foodPrefix }}{{ food.img }}" alt="{{ food.keyword }}" style="width: 140px; height: 140px;">
			<h2>{{ food.name }}</h2>
			<p>{{ food.description | limitTo:30 }}</p>
			<p><a class="btn btn-default" href="#/navbar/foodDatail/{{food.id}}" role="button">查看详情 &raquo;</a></p>
		</div>
	</div>
</div>
<ui-view></ui-view>
 -->