<div class="container marketing">
	<ul class="flowGrid" ng-flow-grid="homePageGird" min-item-width="200">
		<li class="flowGridItem" ng-repeat="knowledge in knowledges">
			<div class="thumbnail">
				<img ng-src="{{ foodPrefix }}{{ knowledge.img }}" alt="{{ knowledge.keywords }}">
				<div class="caption">
					<h3 class="singleText" title="{{ knowledge.title }}">{{ knowledge.title }}</h3>
					<p>{{ knowledge.description }}</p>
					<!-- 按钮 -->
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">查看知识详情</button>
					<!-- 弹出框 -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title singleText" id="myModalLabel" title="{{ knowledge.title }}">{{ knowledge.title }}</h4>
								</div>
								<div class="modal-body">
									<div ng-bind-html="knowledge.message"></div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
									<button type="button" class="btn btn-primary">保存</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div> 

